.container {
  padding: 0 2rem;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(#457bb8,#a2fd8b);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  height: 650px;
  border-radius: 30px;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.3);
  background: rgba(255,255,255,0.5);
}

.profileImage {
  border-radius: 150px;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.3);
}

.profileName {
  margin: 0;
  padding: 10px;
  font-size: 30px;
}

.profileEnglishName {
  margin: 0;
  font-size: 18px;
  font-weight: lighter;
}
